<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <link rel="shortcut icon" href="../images/resources/node.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.3/firebase.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-analytics.js"></script>
    <style>
        body{
            /*background-color: rgb(24, 22, 22);*/
            background-color: rgb(14, 14, 14);
            color:#fff;
            margin: 25px;
            overflow: scroll;
            overflow-x: hidden;
            display:flex; 
            flex-direction:column; 
            justify-content:center;
            min-height:100vh
        }
        ::-webkit-scrollbar{
            width:0px
        }
        .card{
            color:black
        }
        .parent{
            display: block;
        }
        .btn-group{
            box-shadow: 0px 0px 5px 5px black;
        }
        p{
            text-align:left
        }
        .jumbotron{
            background-color:rgb(19, 18, 18);
            box-shadow:0px 0px 5px 5px black;
        }
        .main{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
        }
        .box{
            width: 180px;
            height: 180px;
            background-color: rgb(7, 114, 156);
            border: 6px solid rgb(7, 114, 156);
            position: relative;
            border-radius: 50%;
            overflow: hidden;
        }
        .box::before{
            content: "Loading...";
            font-family: cursive;
            font-size: 2rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .box::after{
            content:"";
            width:100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: white;
            transform: scale(1.6);
            border-radius: 30%;
            animation: animate 15s ease-in-out infinite;
        }
        .rotate{
            animation: ani 2s linear infinite;
        }
        #cdata_on_chart,#cdata_on_chart_nc,#cdata_on_chart_td,#cdata_on_chart_nd,#cdata_on_chart_tr,#cdata_on_chart_nr{
            width:400px;
            height:150px;
        }
        @keyframes ani{
            100%{
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes animate{
            0%{
                transform: translateY(0) rotate(0) scale(1.6);
            }
            50%{
                transform: translateY(-150%) rotate(360deg) scale(1.6);
            }
            100%{
                transform: translateY(0) rotate(0) scale(1.6);
            }
        }
        @media screen and (max-width:768px){
            .nav{
                display: none;
            }
            body{
                margin:15px;
            }
            #cdata_on_chart,#cdata_on_chart_nc,#cdata_on_chart_td,#cdata_on_chart_nd,#cdata_on_chart_tr,#cdata_on_chart_nr{
                width:800px;
                height:300px;
            }
            .display-3{
                font-size:40px
            }
        }
    </style>
    <script>
        var firebaseConfig = {
        apiKey: "AIzaSyBaIwLYQionwFwlFCPtGmBNhg9JZ0_mqZA",
        authDomain: "corona-index-db.firebaseapp.com",
        databaseURL: "https://corona-index-db.firebaseio.com",
        projectId: "corona-index-db",
        storageBucket: "corona-index-db.appspot.com",
        messagingSenderId: "622446950632",
        appId: "1:622446950632:web:a6d2af3bda10eb97d4315d",
        measurementId: "G-HS31KZHBCP"
    };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    const db = firebase.firestore();
    const auth = firebase.auth();
    </script>
    {{!-- <script src="../images/login/index.js"></script> --}}
    <script src="../images/login/indexPH.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="text-center display-3">L<i class="fa fa-virus rotate"></i>gin</h1>
      <br>
      <div class="form-group">
        <label for="usern">Phone number</label>
        <input type="tel" name="usern" id="usern" class="form-control" placeholder="+911234567890" aria-describedby="helpId">
      </div>
      <center><div id="recaptcha-verify"></div></center>
      <div class="form-group">
          <button type="button" class="btn btn-outline-primary" onclick="__vc()" id="scode">Send code</button>
      </div>
      <div class="form-group">
        <label for="__vcode">Enter verification code</label>
        <input type="text" name="__vcode" id="__vcode" class="form-control" placeholder="Enter verification code" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Enter verification code sent to the specified number</small>
      </div>
      <br>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
              <input type="checkbox" name="_1" onchange="__getLocation()" id="_1" autocomplete="off">
              Provide location (mandatory)
          </label>
      </div>
      <center>
      <button type="button" id="submit" onclick="__sub()" class="btn btn-primary btn-lg">Login</button>
      &nbsp;&nbsp;
      <button type="reset" class="btn btn-danger btn-lg">Reset</button>
      <br><br>
      <small class="text-muted"><a href="../signup/">Signup</a></small>
      <br>
      <small class="text-muted"><a href="../login/">Login with email</a></small>
      </center>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>