<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="C:\Users\USER\Desktop\my_Website\cool_website\my_website\index.js"></script>
    <style>
        body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, whitesmoke,#333333 );
    color: white;
}
.header{
    display: flex;
    position: relative;
    height: 100px;
    background: #353333;
    margin: 0 auto;
    align-items: right;
    
}
i{
    position:absolute;
    padding-left: 20px;
    padding-top: 45px;
    
}
p{
    text-align: left;
    padding-left: 90px;
    padding-top: 20px;

}
a{
    
    text-decoration: none;
    color: rgba(245, 245, 245, 0.459);
    padding-right: 20px;
    padding-top: 40px;

    
}
.form {
    padding-top: 40px;
    padding-left: 500px;
    
}
.welcome{
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    padding-top: 100px; 
    color: #353333;

}
.indicator, .indicator2{
    font-size: 32px;
    color: #333333;
    text-align: center;
    
}
.button-content {
    
    padding-left: 610px;
    color: #353333;
    

}
.button{
    padding-left: 20px;

    
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    
    
    font-size: 16px;
    border: 1px;
    border-radius: 32px;
    background: rgba(236, 127, 2, 0.829);
    color: whitesmoke;
}
    </style>

</head>
<body>
    <div class="header">
        
        <p>saraf singh assoc. PVT LTD</p>
        <i class="fas fa-virus"></i>
        <div class="form"> <a href="file:///C:/Users/USER/Desktop/my_Website/cool_website/my_website/index2.html">home</a></div> 
        <a href="form2.html">about us</a>
        <a href="contact-us.html">conact us</a>
        <script src="C:\Users\USER\Desktop\my_Website\cool_website\my_website\index.js"></script>

    </div>
    <div class="body-portion">
        <div class="welcome">
            WELCOME ABOARD
            <br>
            <br>
            <BR>
            
        </div>
        
            <div class="indicator">to check out the latest covid 19 updates...</div><br><br><br>
            <div class="button-content">
                <centre><a id="myButton1" class="button" href ="C:\Users\USER\Desktop\my_Website\cool_website\corona_tracer\google maps\index.html">click here</a></centre><br><br><br>
            </div>
        </div>
        
    </div>

</body>
</html>